altgraph==0.17.4
chardet==5.2.0
decorator==5.1.1
imageio==2.36.1
imageio-ffmpeg==0.5.1
jsonpointer==2.1
macholib==1.16.3
moviepy==2.1.1
numpy==2.2.1
packaging==22.0
pillow==10.4.0
proglog==0.1.10
pydub==0.25.1
pyinstaller==6.11.1
pyinstaller-hooks-contrib==2024.11
pysrt==1.1.2
python-dotenv==1.0.1
requests==2.28.1
setuptools==72.1.0
tqdm==4.64.1
wheel==0.43.0
yt-dlp==2024.12.23
zstandard==0.19.0
