<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>srt_tools</string>
	<key>CFBundleExecutable</key>
	<string>srt_tools</string>
	<key>CFBundleIconFile</key>
	<string>generated-3078042ca8b931e39083894ae6532631c3f32bf72061cfd817bbc10160f7064f.icns</string>
	<key>CFBundleIdentifier</key>
	<string>srt_tools</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>srt_tools</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.0.0</string>
	<key>NSHighResolutionCapable</key>
	<true/>
</dict>
</plist>
